---
import ImgCard from "../components/ImgCard.astro";




---
<div class="d-flex flex-column justify-content-center align-items-center pb-5">
    <ul class="nav nav-pills mb-3 avaya-pills" id="pills-tab" role="tablist">
      <li class="nav-item mx-3" role="presentation">
        <button class="nav-link active " id="pills-1-tab" data-bs-toggle="pill" data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="true">August</button>
      </li>
      <li class="nav-item mx-3" role="presentation">
        <button class="nav-link color-black-text" id="pills-2-tab" data-bs-toggle="pill" data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false">
          September
        </button>
      </li>
      <li class="nav-item mx-3" role="presentation">
        <button class="nav-link color-black-text" id="pills-3-tab" data-bs-toggle="pill" data-bs-target="#pills-3" type="button" role="tab" aria-controls="pills-3" aria-selected="false">
          October
        </button>
      </li>
      <li class="nav-item mx-3" role="presentation">
        <button class="nav-link color-black-text" id="pills-4-tab" data-bs-toggle="pill" data-bs-target="#pills-4" type="button" role="tab" aria-controls="pills-4" aria-selected="false">
          November
        </button>
      </li>
      <li class="nav-item mx-3" role="presentation">
        <button class="nav-link" id="pills-5-tab" data-bs-toggle="pill" data-bs-target="#pills-5" type="button" role="tab" aria-controls="pills-5" aria-selected="false">
          December
        </button>
      </li>

    </ul>

    <div class="tab-content" id="pills-tabContent">
      <!-- August -->
      <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab" tabindex="0">
          <div class="row avaya-pills__content pt-3">
            <div class="col-12 col-lg-4">
              <div class="mt-5">
                <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-1.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#683193" hoverColor="#f4e04d" textColor="white"/>
                
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="mt-5">
                <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-2.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#683193" hoverColor="#f4e04d" textColor="white"/>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="mt-5">
                <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-3.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#683193" hoverColor="#f4e04d" textColor="white"/>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="mt-5">
                <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-4.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#683193" hoverColor="#f4e04d" textColor="white"/>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="mt-5">
                <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-5.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#683193" hoverColor="#f4e04d" textColor="white"/>
              </div>
            </div>
            
          </div>
        </div>
      <!-- September -->
      <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab" tabindex="0">
          <div class="row avaya-pills__content pt-3">
            <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-1.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#63c558" hoverColor="#0d284d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-2.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#63c558" hoverColor="#0d284d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-3.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#63c558" hoverColor="#0d284d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-4.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#63c558" hoverColor="#0d284d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-5.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#63c558" hoverColor="#0d284d" textColor="black"/>
                </div>
              </div>
          </div>
      </div>
      <!-- October -->
      <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab" tabindex="0">
          <div class="row avaya-pills__content pt-3">
            <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-1.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#0194d7" hoverColor="#f4e04d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-2.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#0194d7" hoverColor="#f4e04d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-3.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#0194d7" hoverColor="#f4e04d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-4.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#0194d7" hoverColor="#f4e04d" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-5.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#0194d7" hoverColor="#f4e04d" textColor="black"/>
                </div>
              </div>
          </div>
      </div>
      <!-- November -->
      <div class="tab-pane fade" id="pills-4" role="tabpanel" aria-labelledby="pills-4-tab" tabindex="0">
          <div class="row avaya-pills__content pt-3">
            <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard  dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-1.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#f4e04d" hoverColor="#683193" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-2.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#f4e04d" hoverColor="#683193" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-3.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#f4e04d" hoverColor="#683193" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-4.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#f4e04d" hoverColor="#683193" textColor="black"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-5.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#f4e04d" hoverColor="#683193" textColor="black"/>
                </div>
              </div>
          </div>
      </div>
      <!-- December -->
      <div class="tab-pane fade" id="pills-5" role="tabpanel" aria-labelledby="pills-5-tab" tabindex="0">
          <div class="row avaya-pills__content pt-3">
            <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-1.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#0d284d" hoverColor="#f4e04d" textColor="white"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-2.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint."  backgroundColor="#0d284d" hoverColor="#f4e04d" textColor="white"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-3.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint." backgroundColor="#0d284d" hoverColor="#f4e04d" textColor="white"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-4.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint." backgroundColor="#0d284d" hoverColor="#f4e04d" textColor="white"/>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="mt-5">
                  <ImgCard dataBsToggle="modal" dataBsTarget="#exampleModal" img="assets/header-card-color-5.jpg" title="Avaya Experience Platform" text="Avaya Experience Platform makes it easy to connect everything—voice, video, chat, messaging, and more—to deliver effortless experiences for everyone at every touchpoint." backgroundColor="#0d284d" hoverColor="#f4e04d" textColor="white"/>
                </div>
              </div>
          </div>
      </div>
    </div>

  </div>




  <script>
    const colores = ["#683193", "#63c558", "#0194d7", "#f4e04d", "#0d284d"];
   
   

    const navLinks = document.querySelectorAll('.nav-link');
     // Set the default color
     document.documentElement.style.setProperty('--active-bg-color', colores[0]);

    // Simulate a click on the first button to activate it and change the color
    navLinks[0].classList.add('custom-bg');
     navLinks.forEach((link, index) => {
        link.addEventListener('click', function() {
      navLinks.forEach(link => link.classList.remove('custom-bg'));
      this.classList.add('custom-bg');
      document.documentElement.style.setProperty('--active-bg-color', colores[index]);

    });
  });



    </script>

  <style>

    .nav-link {
    border-radius: 0 !important;
    padding: 8px 32px;
    color: var(--gray-300);
  }

  .nav-link:hover {
    color: var(--black);
  }

  .nav-link.active {
    background-color: var(--purple);
    color: var(--white) ;
    font-weight: bold;
  }



  .custom-bg {
      background-color: var(--active-bg-color) !important;
    }


  .custom-bg.color-black-text {
      color: var(--black) !important;
    }
  

  .nav-item{
    position: relative;
  }



  .avaya-pills{
    border-bottom: 2px solid var(--active-bg-color) !important;
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: start;
  }
  @media (max-width: 991.98px){
    .avaya-pills{
        justify-content: center;
    }
  }

  .avaya-pills li{
    margin-left: 0 !important;
    
  }
  </style>